.content {
  margin-left: 50px;

  display: flex;
}

.about-text {
  margin: auto;

  margin-left: 20px;
  width: 60%;
}

img {
  border-radius: 100px;
}

@media (max-width: 768px) {
  .content {
    /* margin-top: 10px; */
    margin-left: 10px;
    flex-direction: column;
  }

  img {
    width: 50%;
    border-radius: 50px;
    /* margin-top: 20px; */
  }

  .image-container {
    text-align: center;
  }

  .about-text {
    margin-top: 20px;
    width: 90%;
  }
}
