@media (max-width: 768px) {
  .content {
    margin-left: 10px;
    flex-direction: column;
  }

  img {
    width: 50%;
    border-radius: 50px;
  }

  .image-container {
    text-align: center;
  }

  .about-text {
    margin-top: 20px;
    width: 90%;
  }
  #about-select {
    padding: 10px;
  }
}
