* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
  --mybackgroundcolor: #dce8e1;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
  background-color: var(--mybackgroundcolor);
}

body {
  background-color: #d9edd9;
  color: #45403d;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: auto;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(73, 72, 72);
  padding: 1em;
}

nav ul li a:hover {
  background-color: lightblue;
  border-radius: 50px;
  text-decoration: none;
}

a:focus {
  color: orange;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    margin-bottom: 50px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  nav ul li {
    display: inline-block;
    margin-bottom: 43px;
  }

  nav ul li a {
    font-size: 25px;
  }
}
