* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #555555;
  --gray3: #cccccc;
  --gray4: #aaaaaa;

  --black: #080808;
  --teal: #006060;
  --lightteal: #008080;
  --purple: #800080;
  --navy: #000080;
  --cyan: #17a2b8;
  --violetred: #c71585;
  --red: #ff0000;
  --orange: #ffa500;
  --green: #006400;
  --mybackgroundcolor: #dce8e1b;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--gray1);
}

nav {
  width: 220px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  top: 0;
  margin-top: 150px;
  margin-left: 30px;
}

nav > img {
  border-radius: 80px;
}

.nav-links {
  margin: auto;

  margin-top: 10px;
}

nav a {
  color: #1d1e21;
  display: flex;
  gap: 10px;
  font-size: 25px;
}

nav a:focus {
  text-decoration: none;
}

/*Home page*/
.profile-content {
  margin-left: 300px;
  margin-top: 120px;
  width: 65%;
}

.about-text {
  width: 100%;
}

#profile-experience {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.experience {
  margin-top: 25px;
}

.experience-content {
  display: flex;
}

.experience-content i {
  font-size: 45px;
  margin-right: 30px;
}

.dropped-text {
  font-size: 1rem;
}

[data-bs-toggle="collapse"] .fa:before {
  content: "\f0d8";
}

[data-bs-toggle="collapse"].collapsed .fa:before {
  content: "\f0d7";
}

/*
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 10px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  nav ul li {
    display: inline-block;
    margin-bottom: 12px;
  }

  nav ul li a {
    font-size: 33px;
    padding: 12px;
  }
}

*/
